/* Style the header */




.background {
  /*background-color: black;*/
  background-color: blue;
}

.centereddiv{
background-color: #000;
position: absolute;
width: 650px;
height: 100px;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);

}

.header {
  padding: 80px;
  text-align: center;
  /*background: black;*/
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
}

/* Increase the font size of the h1 element */
.h1 {
  font-size: 40px;
  color: blue;
}


@media(min-width:468px){
    .container-1{
      display:flex;
      /*
      align-items:flex-start;
      align-items:flex-end;
      align-items:center;
      
      flex-direction:column;
      */
    }
    
    .container-2{
      display:flex;  
      /*
      justify-content:flex-start;
      justify-content:flex-end;
      justify-content:center;
      justify-content:space-around;
      */
      justify-content:space-between;
    }
  }
  
  .container-3{
    display:flex;  
    flex-wrap:wrap;
    justify-content:space-between;
  }
  
  .container-1 div, .container-2 div, .container-3 div{
    border:1px #ccc solid;
    padding:10px;
    color: blue;
    font-family: Arial, Helvetica, sans-serif;

  }
  


  .box-1{
    flex:2;
    order:2;

  }

  /* Table for box 1 (Encoder)*/

table {
  border-collapse: collapse;
}



th, td {
  border: 1px solid black;
  padding: 8px;
}

thead {
  background-color: #333;
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2%;
}



tbody th {
  background-color: #36c;
  color: #fff;
  text-align: left;
}

th.target{
  background-color: red;
  color: #fff;
  text-align: left;

}

.tbody {
        border-top: 25px solid;
    }



  .box-2{
    flex:0.5;
    order:1;
  }
  
  .box-3{
    flex:2;
    order: 3;
  }
  
  .container-2-box{
    flex-basis: 27%;  
  }
  
  .container-3-box{
    flex-basis:12%;
  }



/* Buttons */

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

