/* Style the header */




.background {
  /*background-color: black;*/
  background-color: #555555;
}


.redTitle {
  color: #A42015;
  font-size: 30px;
  font-family: Fira Sans;
  float: left;
  margin-top: 0px;
  margin-left: 100px;
  font-weight: bold;


}

.vocabbox{

  padding: 10px; 
  border: 2px solid red;
  float: right;
  width:  50%;
  margin-right: 200px;
  border-radius: 15px;
  font-size: 26px;
  font-family: Fira Sans;
  color: black;
  font-weight: bold;
  background: #F8F8F8; 
  border: solid #000000 1px; 
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2)  ; 
  -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2)  ; 
  -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2)  ;

}









@media(min-width:468px){
    .container-1{
      display:flex;
      /*
      align-items:flex-start;
      align-items:flex-end;
      align-items:center;
      
      flex-direction:column;
      */
    }
    
    .container-2{
      display:flex;  
      /*
      justify-content:flex-start;
      justify-content:flex-end;
      justify-content:center;
      justify-content:space-around;
      */
      justify-content:space-between;
    }
  }
  
  .container-3{
    display:flex;  
    flex-wrap:wrap;
    justify-content:space-between;
  }
  
  .container-1 div, .container-2 div, .container-3 div{
    border:1px #ccc solid;
    padding:10px;

    font-family: Arial, Helvetica, sans-serif;

  }
  


  .box-1{
    flex:2;
    order:2;

  }

  /* Table for box 1 (Encoder)*/

table {
  border-collapse: collapse;
}



th, td {
  border: 4px solid #555555;
  padding: 8px;
  background-color: white;
}

thead {
  background-color: #333;
  color: white;
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 2%;
}



tbody th {
  background-color: #A0C9F8;
  color: black;
  text-align: center;
}

th.target{
  background-color: #A42015;
  color: black;
  text-align: center;

}

.tbody {
        border-top: 25px solid;
    }



  .box-2{
    flex:0.5;
    order:1;
  }
  
  .box-3{
    flex:2;
    order: 3;a
  }
  
  .container-2-box{
    flex-basis: 27%;  
  }
  
  .container-3-box{
    flex-basis:12%;
  }

.tableVocab{
  margin-left: auto;
  margin-right: auto;


}



/* Buttons */

button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}



.file_submit{

  border: 1px solid #55acee;
  outline: none;
  background-color: #55acee;
  color: white;
  padding: 1vmax;
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 3px;
  width: 90px;
  position: absolute;
  top: 5px;
  left;
}

.file_submit:hover{
  background-color: white;
  color: #55acee
}
.grid{
    display: grid;
    grid-gap: 2vmax;
}

